<template>
  <div>
    <h4>TABLE列表</h4>
    <div>
      <label>搜索：</label><input type="text" />
    </div>
    <div v-for="t in tables" :key="t"
      style="padding: 5px; cursor: pointer; border-bottom: 1px solid black;font-family: monospace;font-weight: bold;" @click="tableSlected(t)">
      {{ t }}
    </div>
  </div>
</template>

<script>
  import { executeSql } from "/js/api.js"
  import { getUrlKey } from "/js/util.js"
  import { notify } from "/js/eventbus.js"
  export default {
    data() {
      return {
        tables: [],
      };
    },
    methods: {
      loadTables() {
        executeSql({
          databaseInfoId: getUrlKey("dbId"),
          sql: "show tables;",
        }).then((data) => {
          if (data.code != "200") {
            alert(data.message);
            return;
          }
          let rows = data.data.rows;
          for (let i = 0; i < rows.length; i++) {
            this.tables[i] = rows[i][0];
          }
        });
      },
      init() {
        this.loadTables();
      },
      tableSlected(t) {
        notify("notifyDbListSelected", t)
      }
    },
    mounted() {
      this.init();
    },
  };
</script>

<style>
</style>